// Hartnell - Bureau Grotesque
@font-face {
    font-family: 'Bureau Grotesque';
    src: url('../fonts/bureau-grotesque-one-three.woff') format('woff'),
         url('../fonts/bureau-grotesque-one-three.ttf') format('truetype');
}

// Troughton - Eurostile
@font-face {
    font-family: 'Eurostile';
    src: url('../fonts/eurostile.woff') format('woff'),
         url('../fonts/eurostile.ttf') format('truetype');
}

// Pertwee - Futura Bold
@font-face {
    font-family: 'Futura Bold';
	src: url('../fonts/futura-bold.woff2') format('woff2'),
		 url('../fonts/futura-bold.woff') format('woff'),
		 url('../fonts/futura-bold.ttf') format('truetype');
}

// Tom Baker - Futura Extra Bold
@font-face {
    font-family: 'Futura Extra Bold';
    src: url('../fonts/futura-extra-bold.woff2') format('woff2'),
		 url('../fonts/futura-extra-bold.woff') format('woff'),
		 url('../fonts/futura-extra-bold.ttf') format('truetype');
}

// Tom Baker - Della Robbia Bold
@font-face {
    font-family: 'Della Robbia Bold';
	src: url('../fonts/della-robbia-bold.woff2') format('woff2'),
         url('../fonts/della-robbia-bold.woff') format('woff'),
         url('../fonts/della-robbia-bold.ttf') format('truetype');
}

// Davison/Colin Baker - Arial Rounded
@font-face {
    font-family: 'Arial MT Extra Bold';
    src: url('../fonts/arial-rounded-mt-extrabold.woff') format('woff'),
         url('../fonts/arial-rounded-mt-extrabold.ttf') format('truetype');
}

// McCoy - Univers LT
@font-face {
	font-family: 'UniversLT Ultra Condensed';
	src: url('../fonts/universlt-ultra-condensed.woff2') format('woff2'),
		 url('../fonts/universlt-ultra-condensed.woff') format('woff'),
		 url('../fonts/universlt-ultra-condensed.ttf') format('truetype');
}

// Eccleston - Futura Book
@font-face {
	font-family: 'Futura Book';
	src: url('../fonts/futura-book.woff2') format('woff2'),
		 url('../fonts/futura-book.woff') format('woff'),
		 url('../fonts/futura-book.ttf') format('truetype');
}

// Smith - Contax Pro
@font-face {
    font-family: 'Contax Pro';
    src: url('../fonts/contax-pro-75-bold-sc.woff') format('woff'),
         url('../fonts/contax-pro-75-bold-sc.ttf') format('truetype');
}

// Smith - SF Movie Poster
@font-face {
    font-family: 'SF Movie Poster';
    src: url('../fonts/sf-movie-poster-bold.woff') format('woff'),
         url('../fonts/sf-movie-poster-bold.ttf') format('truetype');
}

// Capaldi - Heroic Condensed Medium
@font-face {
    font-family: 'Heroic Condensed Medium';
    src: url('../fonts/heroic-condensed-medium.woff2') format('woff2'),
         url('../fonts/heroic-condensed-medium.woff') format('woff'),
         url('../fonts/heroic-condensed-medium.ttf') format('truetype');
}
