@import 'reset';
@import 'fonts';
@import 'animation';

::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.screen-reader-text {
	position: absolute;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	white-space: nowrap;
}

@import 'backgrounds';
@import 'type';
@import 'page';
@import 'screenshot';
@import 'modal';
