/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:after,blockquote:before {
  content: '';
  content: none;
}

q:after,q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Bureau Grotesque';
  src: url("../fonts/bureau-grotesque-one-three.woff") format("woff"), url("../fonts/bureau-grotesque-one-three.ttf") format("truetype");
}

@font-face {
  font-family: 'Eurostile';
  src: url("../fonts/eurostile.woff") format("woff"), url("../fonts/eurostile.ttf") format("truetype");
}

@font-face {
  font-family: 'Futura Bold';
  src: url("../fonts/futura-bold.woff2") format("woff2"), url("../fonts/futura-bold.woff") format("woff"), url("../fonts/futura-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Futura Extra Bold';
  src: url("../fonts/futura-extra-bold.woff2") format("woff2"), url("../fonts/futura-extra-bold.woff") format("woff"), url("../fonts/futura-extra-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Della Robbia Bold';
  src: url("../fonts/della-robbia-bold.woff2") format("woff2"), url("../fonts/della-robbia-bold.woff") format("woff"), url("../fonts/della-robbia-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Arial MT Extra Bold';
  src: url("../fonts/arial-rounded-mt-extrabold.woff") format("woff"), url("../fonts/arial-rounded-mt-extrabold.ttf") format("truetype");
}

@font-face {
  font-family: 'UniversLT Ultra Condensed';
  src: url("../fonts/universlt-ultra-condensed.woff2") format("woff2"), url("../fonts/universlt-ultra-condensed.woff") format("woff"), url("../fonts/universlt-ultra-condensed.ttf") format("truetype");
}

@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/futura-book.woff2") format("woff2"), url("../fonts/futura-book.woff") format("woff"), url("../fonts/futura-book.ttf") format("truetype");
}

@font-face {
  font-family: 'Contax Pro';
  src: url("../fonts/contax-pro-75-bold-sc.woff") format("woff"), url("../fonts/contax-pro-75-bold-sc.ttf") format("truetype");
}

@font-face {
  font-family: 'SF Movie Poster';
  src: url("../fonts/sf-movie-poster-bold.woff") format("woff"), url("../fonts/sf-movie-poster-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Heroic Condensed Medium';
  src: url("../fonts/heroic-condensed-medium.woff2") format("woff2"), url("../fonts/heroic-condensed-medium.woff") format("woff"), url("../fonts/heroic-condensed-medium.ttf") format("truetype");
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
            transform: rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
            transform: rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

::-moz-selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,*:after,*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.container {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-attachment: fixed;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hartnell .container {
  background-image: url("../images/bg-hartnell.jpg");
}

.troughton .container {
  background-image: url("../images/bg-troughton.jpg");
}

.pertwee .container {
  background-image: url("../images/bg-pertwee.jpg");
}

.tbaker2 .container,.tbaker .container {
  background-image: url("../images/bg-tbaker.jpg");
}

.davison .container {
  background-image: url("../images/bg-davison.jpg");
}

.cbaker .container {
  background-image: url("../images/bg-cbaker.jpg");
}

.mccoy .container {
  background-image: url("../images/bg-mccoy.jpg");
}

.eccleston-tennant .container {
  background-image: url("../images/bg-eccleston-tennant.jpg");
}

.smith .container {
  background-image: url("../images/bg-smith.jpg");
}

.smith2 .container {
  background-image: url("../images/bg-smith2.jpg");
}

.capaldi .container {
  background-image: url("../images/bg-capaldi.jpg");
}

.title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding: 0 5%;
  text-align: center;
}

.hartnell .title {
  color: #fff;
  font-family: 'Bureau Grotesque', sans-serif;
  font-size: 2.75rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  text-shadow: 0 0 100px black;
  text-transform: uppercase;
}

.troughton .title {
  color: #f1f1f1;
  font-family: 'Eurostile', sans-serif;
  font-size: 2.25rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.pertwee .title {
  color: #f5f571;
  font-family: 'Futura Bold', sans-serif;
  font-size: 2.625rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 0.9;
  text-transform: uppercase;
}

.tbaker .title {
  color: #fff;
  font-family: 'Futura Extra Bold', sans-serif;
  font-size: 2.25rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 100px #0c0f21;
  text-transform: uppercase;
  word-spacing: -0.125em;
}

.tbaker2 .title {
  color: #fff;
  font-family: 'Della Robbia Bold', sans-serif;
  font-size: 2.625rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.05;
  text-shadow: 0 0 100px #0c0f21;
  text-transform: uppercase;
}

.cbaker .title,.davison .title {
  color: #fff;
  font-family: 'Arial MT Extra Bold', sans-serif;
  font-size: 2.25rem;
  line-height: 1.1;
  letter-spacing: 0.025em;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
}

.mccoy .title {
  color: #fff;
  font-family: 'UniversLT Ultra Condensed', sans-serif;
  font-size: 2.875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.125rem;
  line-height: 0.9;
  text-shadow: 0 0 40px #260362;
  text-transform: uppercase;
}

.eccleston-tennant .title {
  color: #fff;
  font-family: 'Futura Book', sans-serif;
  font-size: 2.25rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 0.9;
  text-shadow: 1px 2px 3px rgba(28, 2, 1, 0.9);
  text-transform: uppercase;
}

.smith .title {
  color: #fff;
  font-family: 'Contax Pro', sans-serif;
  font-size: 1.875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.2em;
  line-height: 1.2;
  text-shadow: 0 0 20px #15131e;
  text-transform: uppercase;
  word-spacing: 4;
}

.smith2 .title {
  color: #fff;
  font-family: 'SF Movie Poster', sans-serif;
  font-size: 2.875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.2em;
  line-height: 1;
  text-shadow: 1px 2px 3px #2c1a16;
  text-transform: uppercase;
}

.capaldi .title {
  color: #fff;
  font-family: 'Heroic Condensed Medium', sans-serif;
  font-size: 2.5rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.125em;
  line-height: 1;
  text-shadow: 0 0 20px #0b1f38, 0 0 10px #0b1f38;
  text-transform: uppercase;
  word-spacing: 0.5rem;
}

.vortex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.share,.title-create {
  position: absolute;
  bottom: 1.5rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.share:focus,.share:hover,.title-create:focus,.title-create:hover {
  outline: 0;
}

.share:focus img,.share:hover img,.title-create:focus img,.title-create:hover img {
  opacity: 1;
}

.share img,.title-create img {
  opacity: 0.5;
  -webkit-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out;
}

.title-create {
  left: 1.5rem;
}

.title-create.spin img {
  -webkit-animation-name: spin;
          animation-name: spin;
}

.title-create img {
  width: 32px;
  height: 32px;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.share {
  right: 1.5rem;
}

.share img {
  width: 110px;
  height: 32px;
}

.screenshot-wrapper {
  width: 800px;
  height: 600px;
}

.screenshot {
  position: relative;
  z-index: -1;
  width: 800px;
  height: 600px;
  overflow: hidden;
  background-color: #fff;
}

.screenshot img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 600px;
}

.screenshot .title {
  z-index: 1;
  padding: 0 6.25rem;
}

.hartnell .screenshot .title {
  font-size: 6rem;
}

.troughton .screenshot .title {
  font-size: 4.75rem;
}

.pertwee .screenshot .title {
  font-size: 4.625rem;
}

.tbaker .screenshot .title {
  font-size: 4.5rem;
}

.tbaker2 .screenshot .title {
  font-size: 4.75rem;
}

.cbaker .screenshot .title,.davison .screenshot .title {
  font-size: 4.75rem;
}

.mccoy .screenshot .title {
  font-size: 6rem;
}

.eccleston-tennant .screenshot .title {
  font-size: 4.625rem;
}

.smith .screenshot .title {
  font-size: 3.75rem;
}

.smith2 .screenshot .title {
  font-size: 6rem;
}

.capaldi .screenshot .title {
  font-size: 6rem;
}

.modal {
  position: relative;
  z-index: 2;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-container {
  max-width: 500px;
  max-height: 100vh;
  overflow-y: auto;
  color: #fff;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 44px;
  width: 44px;
  padding: 0;
  border: 0;
  background: transparent;
  color: #787878;
  font-family: 'Futura Book', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.modal-close:hover {
  border-color: #000;
  color: #000;
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden='false'] .modal-overlay {
  -webkit-animation: mmfadeIn 300ms cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 300ms cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal-container {
  -webkit-animation: mmslideIn 300ms cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 300ms cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal-overlay {
  -webkit-animation: mmfadeOut 300ms cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 300ms cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal-container {
  -webkit-animation: mmslideOut 300ms cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 300ms cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal-container,.micromodal-slide .modal-overlay {
  will-change: transform;
}

.screenshot-tv-wrapper {
  position: relative;
}

.screenshot-tv-frame {
  position: relative;
  z-index: 1;
}

.screenshot-tv {
  position: absolute;
  top: 6px;
  left: 8px;
}

.screenshot-tv img {
  width: 220px;
}

@media (min-width: 360px) {
  .title-create img {
    width: 44px;
    height: 44px;
  }
  .share img {
    width: 152px;
    height: 44px;
  }
}

@media (min-width: 400px) {
  .hartnell .title {
    font-size: 3.5rem;
  }
  .troughton .title {
    font-size: 2.875rem;
  }
  .pertwee .title {
    font-size: 3.125rem;
  }
  .tbaker .title {
    font-size: 2.875rem;
  }
  .tbaker2 .title {
    font-size: 3.125rem;
  }
  .cbaker .title,.davison .title {
    font-size: 2.875rem;
  }
  .mccoy .title {
    font-size: 3.5rem;
  }
  .eccleston-tennant .title {
    font-size: 2.75rem;
  }
  .smith .title {
    font-size: 2.25rem;
  }
  .smith2 .title {
    font-size: 3.5rem;
  }
  .capaldi .title {
    font-size: 3.5rem;
  }
}

@media (min-width: 500px) {
  .tbaker .title {
    font-size: 3.75rem;
  }
}

@media (min-width: 568px) {
  .cbaker .title,.davison .title {
    font-size: 4.25rem;
  }
}

@media (min-width: 600px) {
  .hartnell .title {
    font-size: 5rem;
  }
  .troughton .title {
    font-size: 4rem;
  }
  .pertwee .title {
    font-size: 4.375rem;
  }
  .tbaker .title {
    font-size: 4.375rem;
  }
  .tbaker2 .title {
    font-size: 4.375rem;
  }
  .mccoy .title {
    font-size: 4.375rem;
  }
  .eccleston-tennant .title {
    font-size: 3.75rem;
    text-shadow: 2px 3px 3px rgba(28, 2, 1, 0.9);
  }
  .smith .title {
    font-size: 2.875rem;
    text-shadow: 0 0 40px #15131e;
  }
  .smith2 .title {
    font-size: 5rem;
    text-shadow: 2px 3px 3px rgba(44, 26, 22, 0.8);
  }
  .capaldi .title {
    font-size: 5rem;
    text-shadow: 0 0 40px #0b1f38, 0 0 20px #0b1f38;
  }
  .share,.title-create {
    bottom: 2rem;
  }
  .title-create {
    left: 2rem;
  }
  .share {
    right: 2rem;
  }
}

@media (min-width: 800px) {
  .hartnell .title {
    font-size: 6.25rem;
  }
  .troughton .title {
    font-size: 5rem;
  }
  .pertwee .title {
    font-size: 5rem;
  }
  .tbaker2 .title {
    font-size: 5rem;
  }
  .cbaker .title,.davison .title {
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
  }
  .mccoy .title {
    font-size: 6rem;
  }
  .eccleston-tennant .title {
    font-size: 4.375rem;
  }
  .smith .title {
    font-size: 3.75rem;
  }
  .smith2 .title {
    font-size: 6.25rem;
  }
  .capaldi .title {
    font-size: 6.25rem;
  }
  .share,.title-create {
    bottom: 2.5rem;
  }
  .title-create {
    left: 2.5rem;
  }
  .share {
    right: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .hartnell .title {
    font-size: 7.5rem;
  }
  .troughton .title {
    font-size: 6rem;
  }
  .cbaker .title,.davison .title {
    font-size: 6rem;
  }
  .mccoy .title {
    font-size: 6.875rem;
  }
  .eccleston-tennant .title {
    font-size: 5rem;
    text-shadow: 3px 4px 5px rgba(28, 2, 1, 0.9);
  }
  .smith .title {
    font-size: 4.375rem;
    text-shadow: 0 0 80px #15131e;
  }
  .smith2 .title {
    font-size: 6.875rem;
  }
  .capaldi .title {
    font-size: 7.5rem;
    text-shadow: 0 0 80px #0b1f38, 0 0 40px #0b1f38;
  }
  .share,.title-create {
    bottom: 3rem;
  }
  .title-create {
    left: 3rem;
  }
  .share {
    right: 3rem;
  }
}

@media (min-width: 1020px) {
  .tbaker .title {
    font-size: 6rem;
  }
  .tbaker2 .title {
    font-size: 6.25rem;
  }
}

@media (min-width: 1100px) {
  .pertwee .title {
    font-size: 7rem;
  }
}

@media (min-width: 1200px) {
  .title {
    padding: 0 8%;
  }
  .hartnell .title {
    font-size: 8.75rem;
  }
  .troughton .title {
    font-size: 7rem;
  }
  .cbaker .title,.davison .title {
    font-size: 7.5rem;
  }
  .mccoy .title {
    font-size: 7.75rem;
  }
  .eccleston-tennant .title {
    font-size: 6.25rem;
  }
  .smith .title {
    font-size: 5rem;
  }
  .smith2 .title {
    font-size: 7.75rem;
  }
  .capaldi .title {
    font-size: 8.125rem;
  }
  .share,.title-create {
    bottom: 3.5rem;
  }
  .title-create {
    left: 4rem;
  }
  .share {
    right: 4rem;
  }
}

@media (min-width: 1280px) {
  .tbaker .title {
    font-size: 7.5rem;
  }
  .tbaker2 .title {
    font-size: 7.5rem;
  }
}

@media (min-width: 1400px) {
  .hartnell .title {
    font-size: 9.375rem;
  }
  .troughton .title {
    font-size: 8.75rem;
  }
  .pertwee .title {
    font-size: 8.75rem;
  }
  .tbaker .title {
    font-size: 8.75rem;
  }
  .tbaker2 .title {
    font-size: 9.375rem;
  }
  .mccoy .title {
    font-size: 8.75rem;
  }
  .eccleston-tennant .title {
    font-size: 6.875rem;
  }
  .smith2 .title {
    font-size: 8.75rem;
    text-shadow: 3px 4px 3px rgba(44, 26, 22, 0.7);
  }
  .capaldi .title {
    font-size: 9.375rem;
  }
}
